/* public/style.css */

body {
    background:grey;
  }
.View {
    width: 100%;
    margin: auto;
    display: block;
    height: 1000px;
    margin-top: -21px;
} 
.Banner{
    text-align:center;
    color: white;
} 
.Message{
    margin-left: 18%;
    margin-top: 10%;
    color: white;

}
.NavButtons {
    text-align: center;
    margin-top: 5%;
    background: darkred;
    width: 100px;
    height: 24px;
    margin-left: 50%;

}
.WelcomeView {
    background: url("background.jpg") left bottom;
    background-size: cover;
    background-position:center;
  }
.UserView {
    background: url("https://cdn.auth0.com/blog/whatabyte/patio.png") left bottom;
    background-size: cover;
  }  